body {
    margin: 0; 
    height: 100%; 
    overflow: hidden;
}

#foregroundContainer {
    background-color:white;
    padding:0%;
}

#initialScreen {
    position: relative;
}

#mainMenu {
    text-align: center;
}

#devNotes {
    text-align: left;
}

#devNotesHeader {
    font-size: 1.15em;
}

#gameScreen {
    display: none;
    text-align:center;
    justify-content:center;
}

#playerColourHeader {
    height:1em;
    display:inline-block;
    vertical-align:bottom;
}

#playerColourDisplay {
    height:1em;
    width:1em;
    display:inline-block;
    vertical-align:bottom;
}

/* For Phones */
@media screen and (max-width: 540px) {
    #initialScreen h1 {
        font-size: 30px;
    }

    #gameScreen h1 {
        font-size: 25px;
    }
}